<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Products</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Start Main Top -->
<div class="main-top">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-left: 50%">
                <div class="our-link">
                    <div class="login-box" style="display: flex;" th:if="${us!=null}">
                        <div style="width: 50px;">
                            <a href="#" style="color:white"><img th:src="@{|/getImg/${us.getPicUrl()}|}"
                                                                 width="35px" style="border-radius:25px"></a>
                        </div>

                        <div style="width: 120px;">
                            <a th:href="@{/login}" style="color:white" th:text="${us.name}"></a>
                            <a th:href="@{/login}" style="color:white" th:text="${us.surname}"></a>
                        </div>
                        <br>
                        <a href="/perform_logout" style="color: red">Sign out</a>
                    </div>
                    <ul th:unless="${us!=null}">
                        <li><a th:href="@{/signIn}">Sign In</a></li>
                        <li><a th:href="@{/signUp}">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                        aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" th:href="@{/}"><img src="images/AlloMarket.jpg" class="logo" width="230px"
                                                            alt=""></a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <!--                   <li class="nav-item active"><a class="nav-link" th:href="@{/}">Home</a></li>-->
                    <li class="nav-item"><a class="nav-link" th:href="@{/aboutUs}">About Us</a></li>
                    <li class="dropdown megamenu-fw">
                        <a th:href="@{/shop}" class="nav-link">Shop</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Option</a>
                        <ul class="dropdown-menu">
                            <li><a th:if="${us==null || type.equals('USER')}" th:href="@{/cart}">Cart</a></li>
                            <li><a th:href="@{/login}">My Account</a></li>
                            <li><a th:if="${us==null || type.equals('USER')}" th:href="@{/wishlist}">Wishlist</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/service}">Our Service</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                    <li class="side-menu">
                        <a href="#" th:if="${us==null || type.equals('USER')}">
                            <i class="fa fa-shopping-bag"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End Atribute Navigation -->
        </div>
        <!-- Start Side Menu -->
        <div class="side">
            <a href="#" class="close-side"><i class="fa fa-times"></i></a>
            <li class="cart-box">
                <ul class="cart-list" id="ccccc">

                </ul>
            </li>
        </div>
        <!-- End Side Menu -->
    </nav>
    <!-- End Navigation -->
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div class="top-search">
    <div class="container">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" oninput="search()" class="form-control" id="inp" placeholder="Search">
            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
        </div>
    </div>
    <div id="searchBody" class="hide in" style="overflow: auto;height: 400px">

    </div>
</div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Shop</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Shop</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start Shop Page  -->
<div class="shop-box-inner">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                <div class="product-categori">
                    <div class="filter-sidebar-left">
                        <div class="title-left">
                            <h3>Categories</h3>
                        </div>
                        <div class="list-group-collapse sub-men" th:each="cat:${allCat}">
                            <a class="list-group-item list-group-item-action" th:href="@{|/productsByCat/${cat.name}|}"
                               th:text="${cat.name}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                <div class="right-product-box">
                    <div class="product-item-filter row">
                        <div class="col-12 col-sm-8 text-center text-sm-left">
                            <h3 style="font-weight: 700;" th:text="${catName}"></h3>
                        </div>
                        <div class="col-12 col-sm-4 text-center text-sm-right">
                            <ul class="nav nav-tabs ml-auto">
                                <li>
                                    <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i
                                            class="fa fa-th"></i> </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#list-view" data-toggle="tab"> <i
                                            class="fa fa-list-ul"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row product-categorie-box">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4" th:each="p:${prByCat}"
                                     th:if="${prByCat!=null && p.getActive()==1}">
                                    <div class="products-single fix">
                                        <div class="box-img-hover" style="height: 250px;">
                                            <img th:src="@{|/getProductImg/${p.id}|}" class="img-fluid" alt="Image">
                                            <div class="mask-icon">
                                                <ul>
                                                    <li><a th:href="@{|/view/${p.id}|}" data-toggle="tooltip"
                                                           data-placement="right" title="View"><i
                                                            class="fas fa-eye"></i></a></li>
                                                    <div th:if="${us==null || type.equals('USER')}">
                                                        <li th:if="${us==null || p.user.getId()!=us.getId()}">
                                                            <button class="like" th:data-id="${p.id}"
                                                                    data-toggle="tooltip"
                                                                    data-placement="right">
                                                                <i th:id="${p.id}" th:if="${wishProduct.contains(p)}"
                                                                   class="fa fa-heart"></i>
                                                                <i th:id="${p.id}"
                                                                   th:unless="${wishProduct.contains(p)}"
                                                                   class="fa fa-heart-o"></i>
                                                            </button>
                                                        </li>
                                                    </div>
                                                </ul>
                                                <div th:if="${us==null || type.equals('USER')}">
                                                    <button th:if="${us!=null && (carts.contains(p) || p.user.getId()==us.getId())}"
                                                            class="cart add-to-cart cartssss" disabled
                                                            style="background: gray" th:data-id="${p.id}">Add to Cart
                                                    </button>
                                                    <button th:unless="${us!=null && (carts.contains(p) || p.user.getId()==us.getId())}"
                                                            class="cart add-to-cart cartssss" th:data-id="${p.id}">Add
                                                        to
                                                        Cart
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="why-text">
                                            <h4 th:text="${p.title}"></h4>
                                            <h5 th:text="${p.price}"></h5><span>$</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="list-view">
                            <div class="list-view-box" th:each="p:${prByCat}"
                                 th:if="${prByCat!=null && p.getActive()==1}">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                        <div class="products-single fix">
                                            <div class="box-img-hover" style="height: 250px;">
                                                <img th:src="@{|/getProductImg/${p.id}|}" class="img-fluid" alt="Image">
                                                <div class="mask-icon">
                                                    <ul>
                                                        <li><a th:href="@{|/view/${p.id}|}" data-toggle="tooltip"
                                                               data-placement="right" title="View"><i
                                                                class="fas fa-eye"></i></a></li>
                                                        <div th:if="${us==null || type.equals('USER')}">
                                                            <li th:if="${us==null || p.user.getId()!=us.getId()}">
                                                                <button class="like" th:data-id="${p.id}"
                                                                        data-toggle="tooltip" data-placement="right">
                                                                    <i th:id="${p.id}"
                                                                       th:if="${wishProduct.contains(p)}"
                                                                       class="fa fa-heart"></i>
                                                                    <i th:id="${p.id}"
                                                                       th:unless="${wishProduct.contains(p)}"
                                                                       class="fa fa-heart-o"></i>
                                                                </button>
                                                            </li>
                                                        </div>
                                                    </ul>
                                                    <div th:if="${us==null || type.equals('USER')}">
                                                        <button th:if="${us!=null && (carts.contains(p) || p.user.getId()==us.getId())}"
                                                                class="cart add-to-cart cartssss" disabled
                                                                style="background: gray" th:data-id="${p.id}">Add to
                                                            Cart
                                                        </button>
                                                        <button th:unless="${us!=null && (carts.contains(p) || p.user.getId()==us.getId())}"
                                                                class="cart add-to-cart cartssss" th:data-id="${p.id}">
                                                            Add
                                                            to Cart
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                        <div class="why-text full-width">
                                            <h4 th:text="${p.title}"></h4>
                                            <h5 th:text="${p.price}"></h5><span>$</span>
                                            <p th:text="${p.description}"></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End Shop Page -->

<!-- Start Instagram Feed  -->
<div class="instagram-box">
    <div class="main-instagram owl-carousel owl-theme">
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/footer_img.jpg" alt="" height="168px"/>
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/footer_img1.jpg" alt="" height="168px"/>
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/footer_img2.jpg" alt="" height="168px"/>
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/footer_img3.jpg" alt="" height="168px"/>
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/footer_img.4jpg.jpg" alt=""/>
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/footer_img5.jpg" alt="" height="168px"/>
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/footer_img7.jpg" alt="" height="168px"/>
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/footer_img8.jpg" alt="" height="168px"/>
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/footer_img9.jpg" alt="" height="168px"/>
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/footer_img10.jpg" alt="" height="168px"/>
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Instagram Feed  -->


<!-- Start Footer  -->
<footer>
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-widget">
                        <h4>About AlloMarket</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <ul>
                            <a class="btn hvr-hover" href="https://www.facebook.com/"><i class="fab fa-facebook"
                                                                                         aria-hidden="true"></i></a>
                            <a class="btn hvr-hover" href="https://twitter.com/"><i class="fab fa-twitter"
                                                                                    aria-hidden="true"></i></a>
                            <a class="btn hvr-hover" href="https://www.whatsapp.com/"><i class="fab fa-whatsapp"
                                                                                         aria-hidden="true"></i></a>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link">
                        <h4>Information</h4>
                        <ul>
                            <li><a th:href="@{/about}">About Us</a></li>
                            <li><a th:href="@{/service}">Our Service</a></li>
                            <li><a th:href="@{/shop}">Shop</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link-contact">
                        <h4>Contact Us</h4>
                        <ul>
                            <li>
                                <p><i class="fas fa-map-marker-alt"></i>Address: Mashtoc Avenue <br>Tumanyan Street
                                    <br> KS 67213 </p>
                            </li>
                            <li>
                                <p><i class="fas fa-phone-square"></i>Phone: <a>+374 91 000000</a></p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Email: <a>derensahakyan7@gmail.com</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End Footer  -->

<!-- Start copyright  -->
<div class="footer-copyright">
    <p class="footer-company">All Rights Reserved. &copy; 2020 <a href="#">AlloMarket</a> Design By :
        <a href="https://html.design/">html design</a></p>
</div>
<!-- End copyright  -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<!-- ALL JS FILES -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- ALL PLUGINS -->
<script src="js/jquery.superslides.min.js"></script>
<script src="js/bootstrap-select.js"></script>
<script src="js/inewsticker.js"></script>
<script src="js/bootsnav.js"></script>
<script src="js/images-loded.min.js"></script>
<script src="js/isotope.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/baguetteBox.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/form-validator.min.js"></script>
<script src="js/contact-form-script.js"></script>
<script src="js/custom.js"></script>
<script src="js/index.js"></script>
<script src="js/search.js"></script>
<script src="js/addCart.js"></script>
<script src="js/viewCart.js"></script>
<script src="js/blockUser.js"></script>
</body>

</html>